# core
pandas
numpy
Faker

# dashboard
streamlit
plotly
kaleido

# pdf generation
reportlab
matplotlib

# testing
pytest

# code quality
black
flake8
isort

# data 
pyarrow
fastparquet

# datavis
plotly